@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#start-screen, #level-select-screen, #gameover-screen, #win-screen {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 10;
    transition: opacity 0.5s;
}

#start-screen, #level-select-screen, #gameover-screen, #win-screen {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#level-select-screen, #win-screen {
    display: none;
}

#gameCanvas {
    display: block;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: filter 0.5s;
}

.blur {
    filter: blur(5px);
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, opacity 1s;
    z-index: 20;
}

button:hover {
    background-color: #0056b3;
}

#restart-top-button {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
}

#level-select-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#gameover-screen, #win-screen {
    opacity: 0;
    pointer-events: none;
}

#gameover-screen.show, #win-screen.show {
    opacity: 1;
    pointer-events: all;
    transition: opacity 2s;
}

#restart-button, #restart-button-win, #next-level-button {
    opacity: 0;
    transition: opacity 1s;
}

#restart-button.show, #restart-button-win.show, #next-level-button.show {
    opacity: 1;
}